version: "3.8"
services:
  webapp:
    build: .
    container_name: webapp
    ports:
      - "3000:3000"
    environment:
      - MQTT_HOST=79d9b250811241cda17602225df019b9.s1.eu.hivemq.cloud
      - MQTT_PORT=8883
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASS=${MQTT_PASS}
    restart: unless-stopped
